.transaction {
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #47CFFF;
  border-bottom: 1px solid #47CFFF;
  border-radius: 10px;
  min-height: 50px;
}

.transaction-data, .sender {
  margin: 4px;
}

.sender {
  font-style: italic;
}

.green {
  color: #A9FFDA;
}

.red {
  color: #ff8080;
}
