.news {
  cursor: pointer;
  margin-top: 20px;
  border-top: 1px solid #497dbd;
  border-bottom: 1px solid #497dbd;
  border-radius: 10px;
  min-height: 30px;
  text-align: center;
}
.news-header {
  padding: 5px;
}
